
a {
    text-decoration: none;
    color: #70757a;
}

#navbar-items {
    text-align: end;
    align-items: center;
    justify-content: end; /*  */
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

#navbar-items > a {
    color: #70757a;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    horiz-align: center;
}

#search-part {
    text-align: center;
    margin: 4%;
}

#searchBar {
    border-radius: 50px;
    width: 42%;
    line-height: 2.5em;
    margin-bottom: 1em;
    margin-top: 2%;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
}

#searchButton, #luckyButton {
    border-radius: 5px;
    line-height: 2.5em;
    margin: auto;
    border: none;
    box-decoration: none;
}

#bottom-part {
    background: #F2F2F2;
    position: fixed;
    bottom: 0;
    color: #70757a;
    width: 100%;
    align-items: center;
    text-decoration-color: black;
    display: block;
    padding: 15px;
    white-space: nowrap;
    font-size: 16px;
    font-family: Arial, sans-serif;

}

ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

hr {
    opacity: 0.3;
}

span {
    margin-right: 4%;
}